@inherits LayoutComponentBase
@layout MainLayout

@inject SignInManager<User> SignInManager
@inject IdentityUserAccessor UserAccessor

@if (user is not null)
{
    <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="d-flex align-center">
        <div class="d-flex flex-column mud-width-full">

            <MudText Typo="Typo.h1" GutterBottom="true">Account Settings</MudText>

            <MudGrid>
                <MudItem xs="12" sm="12" md="5" lg="4" xl="3">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent>

                                <MudStack Row="true" Justify="Justify.Center" Class="mb-4">

                                    @* TODO: This should all be moved into a separate component *@
                                    @if (string.IsNullOrEmpty(user.AvatarUrl) is false)
                                    {
                                        <MudAvatar Size="Size.Large" Style="height:200px; width:200px;">
                                            <MudImage Src="@user.AvatarUrl"></MudImage>
                                        </MudAvatar>
                                    }
                                    else
                                    {
                                        if (string.IsNullOrEmpty(user.FirstName) is false && string.IsNullOrEmpty(user.LastName) is false) 
                                        {
                                            <MudAvatar Variant="Variant.Outlined" 
                                                Color="Color.Primary" 
                                                Size="Size.Large" 
                                                Style="height:200px; width:200px; font-size: 6rem;">
                                                @user.FirstName?.First() @user.LastName?.First()
                                            </MudAvatar>
                                        }
                                        else
                                        {
                                            <MudAvatar Variant="Variant.Outlined" 
                                                Color="Color.Primary" 
                                                Size="Size.Large" 
                                                Style="height:200px; width:200px; font-size: 6rem;">
                                                @user.Name.First()
                                            </MudAvatar>
                                        }
                                    }

                                    @* TODO: Add a tooltip... *@
                                    <MudFileUpload T="IBrowserFile" FilesChanged="UploadFiles" Style="position: absolute; margin-left: 150px;">
                                        <ButtonTemplate>
                                            <MudFab HtmlTag="label"
                                                Color="Color.Primary"
                                                StartIcon="@Icons.Material.Outlined.PhotoCamera"
                                                for="@context.Id" />
                                        </ButtonTemplate>
                                    </MudFileUpload>
  
                                </MudStack>

                                <MudText Align="Align.Center" Typo="Typo.h3" GutterBottom="true">@user.FirstName @user.LastName</MudText>

                                @* TODO: Need to add role here when available *@
                                <MudText Align="Align.Center" Typo="Typo.subtitle1" GutterBottom="true" Class="mud-secondary-text">@user.UserName</MudText>

                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudDivider DividerType="DividerType.Middle" Class="mb-6" />

                            <MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Primary" Class="pa-2">

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/profile" Icon="@Icons.Material.Outlined.Person">
                                    Profile
                                </MudNavLink>

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/email" Icon="@Icons.Material.Outlined.Email">
                                    Emails
                                </MudNavLink>

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/change-password" Icon="@Icons.Material.Outlined.Password">
                                    Password
                                </MudNavLink>

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/logins" Icon="@Icons.Material.Outlined.Login">
                                    Logins
                                </MudNavLink>

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/mfa" Icon="@Icons.Material.Outlined.LockReset">
                                    Authenticator
                                </MudNavLink>

                                <MudNavLink Match="NavLinkMatch.All" Href="/account/personal-data" Icon="@Icons.Material.Outlined.LockPerson">
                                    Personal Data
                                </MudNavLink>
                            </MudNavMenu>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
                <MudItem xs="12" sm="12" md="7" lg="8" xl="9">

                    @Body

                </MudItem>
            </MudGrid>
        </div>
    </MudContainer>
}

@code {

    private User? user;
    private bool hasExternalLogins;
    IList<IBrowserFile> files = [];

    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();

        user = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }

    private void UploadFiles(IBrowserFile file)
    {
        files.Add(file);

        //TODO upload the files to the server
    }    
}