@page "/"

<PageTitle>Home</PageTitle>

@*
    TODO: It's a shame there doesn't seem to be a better / more efficient way of doing this..
    I just want an 'AuthorizeView' that contains the 'AuthenticationProperties' in @context too.
*@
@if (auth is null || auth.Succeeded is false || auth.Principal.Identity?.IsAuthenticated is false)
{
    // Not Authenticated
    <MudText Typo="Typo.h1" GutterBottom="true">Hello, world!</MudText>
    <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 8 Template!</MudText>
}
else
{
    // Authenticated
    <MudText Typo="Typo.h1" GutterBottom="true">Hello, @auth.Principal.Identity?.Name!</MudText>
    <MudText Class="mb-8">Welcome to your new app, powered by MudBlazor and the .NET 8 Template!</MudText>

    <MudDivider Class="mb-8" />

    <MudContainer MaxWidth="MaxWidth.Large">
        <MudText Typo="Typo.h2" GutterBottom="true">Session Information</MudText>

        <MudGrid Class="mb-8" Spacing="2">
            <MudItem Class="flex-auto" xs="12" lg="6">
                <MudCard Class="pa-4 mud-height-full" Style="word-wrap: break-word;" Elevation="3">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h3">Claims</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <ul>
                            @foreach (IGrouping<string, Claim> claimGroup in auth.Principal.Claims.GroupBy(a => a.Type))
                            {
                                foreach (string claimValue in claimGroup.Select(s => s.Value).Distinct())
                                {
                                    <li class="mb-3"><strong>@claimGroup.Key</strong>: @claimValue</li>
                                }
                            }
                        </ul>
                    </MudCardContent>
                </MudCard>
            </MudItem>
            <MudItem Class="flex-auto" xs="12" lg="6">
                <MudCard Class="pa-4 mud-height-full" Style="word-wrap: break-word;" Elevation="3">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h3">Properties</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <ul>
                            @foreach ((string key, string? value) in auth.Properties.Items)
                            {
                                <li class="mb-3"><strong>@key</strong>: @value</li>
                            }
                        </ul>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        </MudGrid>

        @if (string.IsNullOrEmpty(userId) is false && string.IsNullOrEmpty(sessionId) is false) 
        {
            <MudText Typo="Typo.h2" GutterBottom="true">Devices</MudText>

            <MudPaper Class="mb-8" Width="100%" Elevation="3">

                <UserSessionList SessionId="@sessionId" UserId="@userId" />
            </MudPaper>
        }

    </MudContainer>
}

@code {

    private string? userId;
    private string? sessionId;
    private AuthenticateResult? auth;

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private IPagedList<AuthenticationTicket>? tickets;

    protected override async Task OnInitializedAsync()
    {
        if (HttpContext is not null)
        {
            auth = await HttpContext.AuthenticateAsync();
        }

        // TODO: These should definitely also be extension methods...
        auth?.Ticket?.Properties.Items.TryGetValue("session_id", out sessionId);

        // string? userId = auth.Principal?.GetClaim(OpenIddictConstants.Claims.Subject);
        // vs.
        userId = auth?.Principal?.FindFirstValue(OpenIddictConstants.Claims.Subject);
        // ^^ Which is better / more efficient?

        await base.OnInitializedAsync();
    }
}